/* common style */
body{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
}

.secondary-text{
    color: #391400;
}

/* style main header section */

.main-header{
    background-color: #28293E;
    width: 100%;
    height: 75vh;
}
/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

/* logo */
.logo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 2%;
}
.logo img{
    height: 48px;
    width: 48px;
}
.logo h4{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    font-style: normal;
    margin-left: 20px;
}

/* navigation links */

nav ul{
    display: flex;
}
nav ul li{
list-style: none;
margin-right: 40px;
padding: 0px 10px;

}
nav ul li:hover{
    background-color: aqua;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight:400;
    font-size: 16px; 
    line-height: 32px;
    text-align: center;
}
nav ul li a:hover{
 color: black;
}

/* navigation button */
.contact-button{
    border: 1px solid rgba(255, 255, 255, 0.295743);
    background-color: #28293E;
    box-sizing: border-box;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    padding: 15px 30px ;
    height: 48px;
}
.contact-button:hover{
    cursor: pointer;

}
/* style navigation icon */

.navigation-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.hamburger-icon {
    width: 16px;
    height: 2px;
    background: #D8D8D8;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}
.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #D8D8D8;
    border-radius: 1px;
    transition: all .5s ease-in-out;
}
.hamburger-icon::before {
  transform: translateY(-7px);
}
.hamburger-icon::after {
  transform: translateY(7px);
}

/* navigation hamburger button animation */
.navigation-button.open .hamburger-icon {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.navigation-button.open .hamburger-icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.navigation-button.open .hamburger-icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


/* banner */

.banner{
    text-align: center;
    padding: 25px 0;
    
}
.banner h1{
    color:#FFFFFF;
    font-weight: 800;
    font-size: 72px;
    
}
.banner p{
    color: #FFFFFFA3;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

/* set bg color  */
.main-section, footer{
    background-color: #FDF0E9;
    padding: 80px 135px;
}
/* 
.divider{
   background-color: #F3D1BF;
    
} */

/* style first blog section */
.first-blog-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    align-content: space-around;
    padding-bottom: 80px;
}
.first-blog-article img{
    width: 100%;
    height: 336px;
}
.first-blog-section h3{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
}
.category{
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
}

.blog-date{
font-style: normal;
font-weight: normal;
font-size: 16px;
color: rgba(57, 20, 0, 0.64);
}


/* style second blog section */
.second-blog-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    align-content: space-around;
}
.second-blog-article{
    padding-top: 80px;
}

.second-blog-article img{
    width: 100%;
    height: 225px;
}

.second-blog-section h4{
    font-size: 24px;
    line-height: 32px;

    font-style: normal;
    font-weight: bold;

}

/* style learn more button */

.load-more-button{
    width :170px;
    height:48px;
    border: none;
    display: block;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
}

/* style newsletter-section */
.newsletter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.newsletter-section h3{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

}
.newsletter-section div{
    width: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}
.newsletter-section div input, button{
    background: #FFFFFF;
    border-radius: 6px;
}
.newsletter-section div input{
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    font-size: 16px;
    color: rgba(57, 20, 0, 0.64);
    padding: 18px 0 18px 8px ;
}
.newsletter-section div button{
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border: none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 46px ;
}


/* dream project banner */
.dream-project{
    background-color:#EF6D58;
    min-height: 300px;
    margin-top: 80px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}
.dream-project-content{

}
.dream-project-content h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.dream-project-content p{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: rgba(255, 255, 255, 0.64);
}

.dream-project-content button{
    background-color: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    width :170px;
    height:48px;
}

.dream-project-image{
    position: relative;
     margin-bottom: 0;
     
}
.oval{
   position: absolute;
   top: 120px;
   left: 80px;
}
.human{
    position: absolute;
    top: 80px;
    left: 200px;
    background-color: rgb(245 202 70);
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
}
.human img{
   margin-bottom: -10px;
   
    
    
}
.rectangle{
    position: absolute;
    top: 210px;
    left: 20px;
    position: relative;
}
.path1{
   position: absolute;
   top: 360px;
   left: 160px;
    
}
.path-2{
    position: absolute;
   top: 105px;
   left: 105px;
}

.rectangle-children{
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}
.oval-3{
    margin-right: 20px;
}
.horizontal-rectangle img{
    margin-right: 3px;
}

.star{
    position: absolute;
    top: 0;
}

.man-shape{
position: absolute;
top: 50px;
left: 55px;

}

.footer-section{
    display: flex;
    justify-content:space-between;
}
.about-company-section h4{
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin-top: 0;

}
.footer-menu h5{
    color: #EF6D58;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase; 
    margin-top: 0;
}
.footer-menu ul{
   padding-inline-start: 0;
   margin-block-start: 0;
}

.footer-menu ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-menu ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}
.footer-icon{
    display: flex;
}
.fb-icon, .tw-icon, .insta-icon{
    position: relative;
    margin-right: 10px;
}

.icon-svg{
    position: absolute;
    top: 17px;
    left: 18px;
}

.copyright-section, .copyright-section ul{
    display: flex;
    justify-content: space-between;
}
.copyright-section ul li, .copyright-section p{
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: right;

}
.copyright-section p{
    color: rgba(57, 20, 0, 0.64);
}
.copyright-section ul{
    padding-inline-start: 0;
}
.copyright-section ul li{
    list-style: none;
    margin-left: 25px;
}






/* media query */
@media only screen and (max-width: 600px) {

    /* responsive navigation bar */
    nav{
        display: flex;
    }
    nav ul{
        position: fixed;
        height: 50vh;
        top: 100px;
        text-align: start;
        display: none;
    /* flex-direction: column; */
}

/* nav li{
    margin: 10px 0;
}
nav ul li a{
    font-size: 22px;
}
nav ul li a:hover, nav ul li a.active{
    color: #96241c;
} */



.contact-button{
    display: none;
}
  .first-blog-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  .second-blog-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* responsive newsletter section */
.newsletter-section{
display: flex;
flex-direction: column;
align-items:flex-start;
}

.newsletter-section div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.newsletter-section h3{
    text-align: start;
}


/* responsive dream project  */
.dream-project{
    display: block;
    margin:auto;
    display: flex;
    flex-direction: column-reverse;
}
.dream-project-image{
    margin-bottom: 300px;
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.copyright-section{
    display: flex;
    flex-direction: column;
}
.copyright-section p, ul li{
    text-align: center;
}
.copyright-section ul li{
    margin: 0;
}
}

